<%= form_with(model: paciente) do |form| %>
  <% if paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
        <% paciente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :endereco %>
    <%= form.text_field :endereco, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :contato %>
    <%= form.text_field :contato, class:"form-control"%>
  </div>

  <div class="field form-group">
    <%= form.label :idade %>
    <%= form.text_field :idade, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.submit  class:'btn btn-secondary'%>
  </div>
<% end %>
