<p id="notice"><%= notice %></p>

<h1>Procedimentos</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @procedimentos.each do |procedimento| %>
      <tr>
        <td><%= procedimento.descricao %></td>
        <td> R$<%= procedimento.valor %></td>
        <td><%= link_to 'Mostrar', procedimento %></td>
        <td><%= link_to 'Editar', edit_procedimento_path(procedimento) %></td>
        <td><%= link_to 'Deletar', procedimento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Procedimento', new_procedimento_path, 
 class:"btn btn-secondary" %>